<header>
     <img src= "https://cdn2.iconfinder.com/data/icons/rounded_square_icons__books_by_deleket-dexzmr/128/Recipe_Book.png" width= "100ch" >
     <h1>RecipeApp</h1>

     <p>
          <% if (session[:user_id]) %>
               Logged in as <%= "#{session[:email]}" %>
               <%= button_to "Logout", controller: "sessions", action: "delete" %>
          <% else %>
               <a href="/login">
                    LOGIN
               </a>
          <% end %> 
     </p>
     
     <a href="/home">
          HOME
     </a>
     <a href="/signup">
          SIGN UP
     </a>
     
     <a href="/recipes/new">
          CREATE A RECIPE
     </a>
     <a href="/recipes">
          VIEW ALL RECIPES
     </a>

     
     <%= form_with method: :get, url: "/recipes" do |f| %> 
          <%= f.text_field :recipeTitle, placeholder: "Search for a recipe"%>
          <%= f.submit "Search" %>
     <% end %>
     
     

   

</header>
